@page "/counter"
@* Namespace directive required to recognize the code-behind file *@
@namespace FluxorTutorial.Pages.Counter
@* The following inherits directive not stricly needed since it is the only actor updating the state *@
@* @inherits Fluxor.Blazor.Web.Components.FluxorComponent *@
@* If (i.e. multi-)inheritance isn't available, use the IDisposable pattern *@
@implements IDisposable

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @CounterState.Value.ClickCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>