@page "/"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject IState<ToolbarState> ToolbarState
@inject IDispatcher Dispatcher

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@if (ToolbarState.Value.Enabled)
{
    <button style="color: blue" @onclick="ToggleEnabledButtonClicked">Enabled</button>
}
else
{
    <button style="color: red" @onclick="ToggleEnabledButtonClicked">Disabled</button>
}
<button @onclick="UpdateMessageButtonClicked">Update Message</button>

@code {
    void ToggleEnabledButtonClicked()
    {
        Dispatcher.Dispatch(new SetEnabledAction(!ToolbarState.Value.Enabled));
    }
    void UpdateMessageButtonClicked()
    {
        Dispatcher.Dispatch(new SetMessageAction("Message updated from Home at " + DateTime.Now.ToString("HH:mm:ss")));
    }
}